* {
    min-width: 0;
    font: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    margin: 0;
    min-height: 100dvh;
}


body {
    background-image: url(../img/1.png);
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


body > img {
    display: block;
    margin-inline: auto;
    width: 30rem;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.footer {
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 20rem;
    margin-inline: auto;
    margin-bottom: 15px;
}

.footer a {
    width: 2.9rem;
    height: 2.9rem;

}


.footer a img:hover {
    transform: scale(1.3);
    transition: ease;
    transition-duration: 300ms;
    margin-bottom: 5px;
    
}



@media only screen and (max-width: 768px) {

    body {
      background-position: center;
    }
  
  }